body{
    background-color: rgb(186, 157, 162);
}
.red {
    background-color: rgb(214, 93, 93);
}
.bgred{
    background-color: azure;
}
#Seconddiv{
    background-color: rgb(116, 200, 200);
}